.containerDetails{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}
.leftSide{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 0% 0% 2%;
}
.ritghSide{
    display: flex;
    flex-direction: column;
    background-color: #111a274a;
    margin: 9% 8% 2% 0;
    padding: 1% 2%;
    width: 30%;
    border-radius: 5px;
}
.position{
    position: absolute;
    display: flex;
    align-self: flex-start;
    margin: 0% 0% 2%;
}
.carruselBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.carrusel{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.carruselBox img {
    width: 800px;
    height: 400px;
}
.carruselPosition{
    display: flex;
}
.textContent{
    width: 80% ;
    margin: -2% 0 2% 10%;
}
.platfiIcons{
    display: flex;
    color: aliceblue;
    list-style: none;
    margin: 0;
    padding: 0;
}
.platfiIcons li{
    margin-right: 2%;
}
.textContent p{
    font-size: 18px;
}
.titleG{
    color: aliceblue;
}
.infoDetails{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #182434d1;
    transition: all 0.2s ease-in-out;
}
.infoDetails a {
    color: rgb(154, 164, 170);
}
.ulNames{
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.liText {
    color: rgb(154, 164, 170);
    margin-left: 5%;
}
.infoDetails:hover {
    width: 95%;
    padding: 5%;
    margin: -2%
}
