.home{
    margin-top: 0;
}
.title{
    color:antiquewhite;
    font-size: 60px;
    padding-bottom: 1%;
    margin-bottom: 0%;
}
.btnsBox{
    margin-bottom: 4%;
}
.btns{
    background: none;
    border: none;
    color: rgb(154, 164, 170);
    letter-spacing: 1px;
    font-size: 16px;
    padding: 16px 60px 16px 50px;
    transition: all 0.2s ease-in-out;
}
.btns:hover {
    color:antiquewhite;
    padding-bottom: 12px;
    border-bottom: 4px solid rgb(71, 115, 140);
    background-color: #111a279d;
}
.containerCards{
    display: flex;
    flex-wrap: wrap;
}