.login{
    position: absolute;
    background-color: #111a27;
    border-radius: 40px;
    padding: 0px 70px;
    top: 42%;
    right: 45%;
    transition: all 0.2s ease-in-out;
}
.login:hover {
    background-color: #111a279d;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.755);
}
.loginText{
    color:rgb(71, 115, 140);    
    text-decoration: none;
    letter-spacing: 2px;
}