.danger{
    color: red;
}
.containerForm{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.forms {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    text-align: center;    
}
.inputs{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.inputSmalls{
    background: none;
    border: none;
    color: rgb(154, 164, 170);
    letter-spacing: 1px;
    font-size: 16px;
    padding: 16px 60px 16px 50px;
    border-bottom: 2px solid rgb(71, 115, 140);
    transition: all 0.2s ease-in-out;
}
.inputSmalls:hover {
    color:antiquewhite;
    padding-bottom: 12px;
    border-bottom: 4px solid rgb(71, 115, 140);
    background-color: #111a279d;
}
.imgHeart {
    width: 50px;
    height: 50px;
}
.inputs{
    display: flex;
    flex-direction: column;
}
label {
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
}
p{
    color: rgb(154, 164, 170);
}
.boxGenres{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 2% 10% 0 10%;
}
.btnGenreBox{
    margin: 1%;
}
.RatingContainer{
    width: 100%;
}
.selectedR {
    display: flex;
    justify-content: center;
}
.heartsContainer{
    display: flex;
    position: relative;    
    justify-content: center;
}
.GenresContainer{
    margin: 5% 0;
}
.heart{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.heart label {
    top: 100%;
    color: rgb(154, 164, 170);
    font-size: 26px;
    margin: auto;
    font-weight: 400;
    width: max-content;
    position: absolute;
}
.selected{
    background: rgb(154, 164, 170);
    border: rgb(40, 130, 183) solid 2px;
    border-radius: 30px;
    letter-spacing: 2px;
    padding: 15px;
    color: black;
    font-weight: bold;
}

.noSelected{
    background: none;
    letter-spacing: 2px;
    border-radius: 30px;
    padding: 15px;
    border: rgb(71, 115, 140) solid 2px;
    color: aliceblue;
}
.PlatformsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
}
.boxPlatf{
    display: flex;
    margin-top: 2%;
}
.btnSubmti{
    width: 100%;
    margin-bottom: 5%;
}
.btnSubmti button{
    background-color: #111a27;
    border: none;
    color: rgb(154, 164, 170);
    letter-spacing: 1px;
    font-size: 16px;
    padding: 16px 60px 16px 50px;
    border-bottom: 2px solid rgb(71, 115, 140);
    transition: all 0.2s ease-in-out;
}
.btnSubmti button:hover {
    color:antiquewhite;
    border-bottom: 4px solid rgb(71, 115, 140);
    background-color: #111a279d;
}
/* #0c131d */
.cardSearchedGame{
    width: 100%;
}